version: '3.8'

services:
  fuseki:
    image: stain/jena-fuseki
    container_name: fuseki
    restart: always
    ports:
      - "3030:3030"
    environment:
      - ADMIN_PASSWORD=admin
    volumes:
      - ./fuseki_data:/fuseki

  rdf4j:
    image: eclipse/rdf4j-workbench:latest
    container_name: rdf4j
    ports:
      - "8080:8080"
    volumes:
      - ./data:/var/rdf4j

